<ion-header translucent>
  <ion-toolbar>
    <ion-title>基础信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-template [test]="123" (ihuClick)="tempClick($event)"></app-template>
  <input type="file" (change)="OnFileSelected($event)" name='photo'/><br/>
  <button type='submit' (click)="OnUpload()">Save Post</button><br/><br/>

  <button (click)="getUrl()">get IMG</button><br/>
  <span>{{url}}</span><br/>
  <a [href]="url" download>download</a>
  <button (click)="download()" >download</button>
  <div id="xxxxx"></div>
</ion-content>