<ion-header translucent>
  <ion-toolbar>
    <ion-title>基础信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-template [test]="123" (ihuClick)="tempClick($event)"></app-template>
  <ion-list>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        1111
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>{{res}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>